<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>lam.png</string>
		<key>lastStarted</key>
		<date>2020-02-10T08:56:37Z</date>
		<key>model</key>
		<string>Murcielago</string>
		<key>mark</key>
		<string>Lamborgini</string>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>fanChoise</key>
		<false/>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>fer.png</string>
		<key>lastStarted</key>
		<date>2020-02-10T08:56:37Z</date>
		<key>model</key>
		<string>458</string>
		<key>mark</key>
		<string>Ferrari</string>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>31</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>fanChoise</key>
		<false/>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>mer.png</string>
		<key>lastStarted</key>
		<date>2020-02-10T08:56:37Z</date>
		<key>model</key>
		<string>AMG GT</string>
		<key>mark</key>
		<string>Mercedes</string>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>138</integer>
		</dict>
		<key>fanChoise</key>
		<false/>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>nis.png</string>
		<key>lastStarted</key>
		<date>2020-02-10T08:56:37Z</date>
		<key>model</key>
		<string>HQ</string>
		<key>mark</key>
		<string>Nissan</string>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>19</integer>
			<key>blue</key>
			<integer>94</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>fanChoise</key>
		<false/>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>bmw.png</string>
		<key>lastStarted</key>
		<date>2020-02-10T08:56:37Z</date>
		<key>model</key>
		<string>X5</string>
		<key>mark</key>
		<string>BMW</string>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>fanChoise</key>
		<false/>
		<key>rating</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
